page-home {
    .card-background-page{
        background: $primaryColor;
        padding:5px;
        .card-title{
            text-align: center;
            padding-top: 10px;
            color:$whiteColor;
        }
    }
}
