page-modalfilter {
    ion-content{
        background: rgba(0,0,0,0.5) !important;
    }

    #filterModal{
        background: #fff;
        padding:7px;
        .filterLabel{
            color:#000;
            font-size: 14px;
            width: 100%;
            text-align: right;
            float:right;
            padding-top:5px;
            font-weight: 500;
        }
        .filterSelect{
            width: 100%;
            background: $primaryColor;
            color:#fff;
            padding:5px;
        }
        .filterPrice{
            .filterLabel{
                padding-top:12px;
            }
            ion-range{
                padding:0px;
            }
        }
    }
}
